.productdisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10%;
    gap: 40px;
}

.productdisplay-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.productdisplay-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.productdisplay-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productdisplay-main-img {
    height: 400px;
    width: 400px; 
    margin-right:50px;
}

.productdisplay-customize-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}

.productdisplay-right-stars {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 25px 0px;
    gap: 20px;
    font-size: 22px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #ff4141;
}

.productdisplay-right-description h2 {
    font-size: 20px;
    font-weight: bold;
}

.productdisplay-right-size h1 {
    margin-top: 30px;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 20px 0px;
    gap: 15px;
}

.productdisplay-right-sizes div {
    padding: 16px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button {
    padding: 20px 40px;
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.productdisplay-right-category {
    margin-top: 10px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

.encircled {
    border-radius: 50%;
    padding: 2px 8px;
    font-weight: bold;
    text-decoration: underline;
}

/* Similar Products Section */
.similar-products-section {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.similar-products { 
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.similar-product-item {
    text-align: center;
    max-width: 200px;
}

.similar-product-item img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

.products {
    font-weight: bold;
    font-size: 25px;
}

/* ----- media query------- */

@media (max-width: 1024px) {
    .productdisplay {
        padding: 0px 8%;
    }
    .productdisplay-img-list {
        gap: 10px;
    }
    .productdisplay-img-list img {
        height: 90px;
    }
    .productdisplay-main-img {
        height: 400px;
    }
}

@media (max-width: 900px) {
    .productdisplay-content {
        flex-direction: column;
        align-items: center;
    }
    .productdisplay {
        gap: 20px;
    }
    .productdisplay-left {
        gap: 10px;
    }
    .productdisplay-img-list {
        gap: 10px;
    }
    .productdisplay-img-list img {
        height: 80px;
    }
    .productdisplay-main-img {
        height: 350px;
    }
}

@media (max-width: 800px) {
    .productdisplay-content {
        width: 100%;
    }
    .productdisplay-left {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .productdisplay-right h1 {
        font-size: 20px;
    }
    .productdisplay-right-prices {
        margin: 15px 0;
        font-size: 18px;
    }
    .productdisplay-right-size h1 {
        margin-top: 15px;
    }
    .productdisplay-right-size h1 {
        margin: 10px 0;
    }
    .productdisplay-right-size div {
        font-size: 14px;
    }
}
